  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

  * {
      margin: 0%;
      padding: 0;
  }




  nav {
      background-color: black;
      color: white;
      height: 65px;
      font-size: 27px;
      display: flex;
      align-items: center;
      padding: 0 27px;
      font-family: "Luckiest Guy", cursive;
  }



  nav ul {
      list-style-type: none;
  }

  .gamecontainer {
      /* background-color: aqua; */
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(3, 10vw);
      grid-template-rows: repeat(3, 10vw);
      font-family: "Arimo", sans-serif;

  }

  .box {
      border: 1px solid black;
      font-size: 4vh;
      cursor: pointer;
      display: flex;
      text-align: center;
      justify-content: center;
  }

  .imgbox img {
      height: 245px;
      width: 0;
      transition: width 1s ease-in-out;

  }

  .box:hover {
      background-color: rgb(179, 217, 243);
  }

  .gameinfo {
      padding: 0 34px;
      font-family: "Arimo", sans-serif;
      font-family: "Shadows Into Light", cursive;
  }
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
   margin: 5px 23px;
    padding: 9px 10px;
    background-color: rgba(192, 118, 199, 0.363);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.info{
    font-size: 25px;
}
.boxtext{
    font-size: 100px;
}
.line{
background-color:yellow;
height: 3px;
width: 0;
position: absolute;
transition: width 1s ease-in-out;


}

@media only screen and (max-width: 768px) {
  .gamecontainer{
    flex-wrap: wrap;
  }
  .gameinfo{
    margin-top: 34px;
  }
  .gameinfo h1{
font-size: 1.5rem;
  }
  .container{
     grid-template-columns: repeat(3, 20vw);
      grid-template-rows: repeat(3, 20vw);
      margin-right: 20px;
  }
  .boxtext{
    font-size: 70px;
  }
  
}

